
#form {
	color: black;
	background-color: #ffffff;
/*	border: 1px groove rgba(0,0,0,0.1);*/
	box-sizing: 100px 100px 100px 100px;
	padding: 48px 40px 36px 40px;
	margin: auto;
	font-family: inherit;
	width: 450px;
	display: block;
}

div#form {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
}

 
#div-inicial {
	height: 101px; 
	min-height: 30px;
}

.inicio {
	text-align: left;
}

h3 {
	font-family: inherit;
}

a:hover{
	text-decoration: none;
	color: blue;
}

.is-valid {
	border-bottom: groove green;
}

.is-invalid {
	border-bottom: groove red;
}

























